<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="target_col" type="xstring" value="AveragePrice"/>
        <entry key="max_lag" type="xint" value="70"/>
        <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
        <entry key="extension_version_Internals" type="xstring" value="5.3.1"/>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.python3.nodes.extension.ExtensionNodeSetFactory$DynamicExtensionNodeFactory"/>
    <entry key="node-name" type="xstring" value="Autocorrelation Plot (Labs)"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Timeseries (Labs)"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.timeseries-analysis"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.3.1.v202407291759"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Timeseries (Labs)"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.timeseries-analysis.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.3.1.v202407291759"/>
    <entry key="factory-id-uniquifier" type="xstring" value="org.knime.timeseries-analysis_!_autocorrelation_analysis"/>
    <config key="factory_settings">
        <entry key="extension_id" type="xstring" value="org.knime.timeseries-analysis"/>
        <entry key="node_id" type="xstring" value="autocorrelation_analysis"/>
    </config>
    <config key="node_creation_config">
        <config key="Input Input Table # 0"/>
        <config key="Output Lags &amp; Plot Values # 0"/>
    </config>
    <entry key="name" type="xstring" value="Autocorrelation Plot (Labs)"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 71, Cols: 5"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
    </config>
    <config key="internalObjects">
        <entry key="location" type="xstring" value="internalTables"/>
        <config key="content"/>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" value="a76a1565-764f-4af2-80e0-7d6acf1cb191"/>
    </config>
</config>
