<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="sarima_params">
            <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
            <entry key="input_column" type="xstring" value="AveragePrice"/>
            <config key="learner_params">
                <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
                <entry key="ar_order_param" type="xint" value="1"/>
                <entry key="i_order_param" type="xint" value="1"/>
                <entry key="ma_order_param" type="xint" value="1"/>
                <entry key="seasoanal_ar_order_param" type="xint" value="2"/>
                <entry key="seasoanal_i_order_param" type="xint" value="1"/>
                <entry key="seasoanal_ma_order_param" type="xint" value="0"/>
                <entry key="seasonal_period_param" type="xint" value="2"/>
                <entry key="natural_log" type="xboolean" value="false"/>
            </config>
            <config key="predictor_params">
                <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
                <entry key="number_of_forecasts" type="xint" value="19"/>
                <entry key="dynamic_check" type="xboolean" value="false"/>
            </config>
        </config>
        <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
        <entry key="extension_version_Internals" type="xstring" value="1.0.0"/>
    </config>
    <config key="variables">
        <entry key="version" type="xstring" value="V_2019_09_13"/>
        <config key="tree">
            <config key="sarima_params">
                <config key="learner_params">
                    <config key="ma_order_param">
                        <entry key="used_variable" type="xstring" value="q-value"/>
                        <entry key="used_variable_flawed" type="xboolean" value="false"/>
                        <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
                    </config>
                </config>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="EXECUTED"/>
    <entry key="factory" type="xstring" value="org.knime.python3.nodes.extension.ExtensionNodeSetFactory$DynamicExtensionNodeFactory"/>
    <entry key="node-name" type="xstring" value="SARIMA Learner"/>
    <entry key="node-bundle-name" type="xstring" value="Time Series Extension"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.time_series"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="1.0.0.202405240148"/>
    <entry key="node-feature-name" type="xstring" value="Time Series Extension"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.time_series.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="1.0.0.202405240148"/>
    <entry key="factory-id-uniquifier" type="xstring" value="org.knime.time_series_!_sarima"/>
    <config key="factory_settings">
        <entry key="extension_id" type="xstring" value="org.knime.time_series"/>
        <entry key="node_id" type="xstring" value="sarima"/>
    </config>
    <config key="node_creation_config">
        <config key="Input Input Data # 0"/>
        <config key="Output Forecast # 0"/>
        <config key="Output Residuals # 1"/>
        <config key="Output Coefficients and Statistics # 2"/>
        <config key="Output Model # 3"/>
    </config>
    <entry key="name" type="xstring" value="SARIMA Learner"/>
    <entry key="hasContent" type="xboolean" value="true"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 19, Cols: 1"/>
            <entry key="port_dir_location" type="xstring" value="port_1"/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 150, Cols: 2"/>
            <entry key="port_dir_location" type="xstring" value="port_2"/>
        </config>
        <config key="port_3">
            <entry key="index" type="xint" value="3"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.core.data.DataTableSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.core.node.BufferedDataTable"/>
            <entry key="port_object_summary" type="xstring" value="Rows: 29, Cols: 1"/>
            <entry key="port_dir_location" type="xstring" value="port_3"/>
        </config>
        <config key="port_4">
            <entry key="index" type="xint" value="4"/>
            <entry key="port_spec_class" type="xstring" value="org.knime.python3.nodes.ports.PythonBinaryBlobPortObjectSpec"/>
            <entry key="port_object_class" type="xstring" value="org.knime.python3.nodes.ports.PythonBinaryBlobFileStorePortObject"/>
            <entry key="port_object_summary" type="xstring" value="sarima.model"/>
            <entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
            <entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
            <entry key="port_dir_location" type="xstring" value="port_4"/>
        </config>
    </config>
    <config key="internalObjects">
        <entry key="location" type="xstring" value="internalTables"/>
        <config key="content"/>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
